<% content_for :header_title do %>
  <%= link_to @muni.nombre, city_card_path(@muni) %> y <%= link_to @muni_b.nombre, city_card_path(@muni_b) %>
<% end %>

<!-- contents -->
<div class="contents">
  <!-- main -->
  <div class="main mainfull">
    <div class="compare_city compare_city_a">
      <h2><%= @muni.nombre %></h2>
    
      <% budget = @muni.budget_for(@year) %>
      <% if budget %>
        <script type="text/javascript" charset="utf-8">
          var ingresos = [
            <%= (budget.income_taxes*100/budget.total_ingresos).round %>,
            <%= (budget.income_administrations*100/budget.total_ingresos).round %>,
            <%= (budget.income_assets*100/budget.total_ingresos).round %>,
            <%= (budget.income_financial*100/budget.total_ingresos).round %>,
            <%= (budget.income_loans*100/budget.total_ingresos).round %>
          ];
          var gastos = [
            <%= (budget.expense_people*100/budget.total_gastos).round %>,
            <%= (budget.expense_commons*100/budget.total_gastos).round %>,
            <%= (budget.expense_projects*100/budget.total_gastos).round %>,
            <%= (budget.expense_grants*100/budget.total_gastos).round %>,
            <%= (budget.expense_administrations*100/budget.total_gastos).round %>,
            <%= (budget.expense_financial*100/budget.total_gastos).round %>,
            <%= (budget.expense_loans*100/budget.total_gastos).round %>
          ];
        </script>
        <div class="holder" id="holder_a"></div>
      
        <!-- totals -->
        <div class="totals">
          <h3>Total:</h3>
          <div class="balance">
            <p class="incomings">
              <span class="title">Total ingresos:</span>
              <strong><%= money(budget.total_ingresos) %> <span class="arrow">&rarr;</span>  <%= income_gap(@muni,@year) %>%</strong> <small>que la media en <br/><em><%= @muni.province_name %></em></small>
            </p>
            <p class="expenses">
              <span class="title">Total gastos:</span>
              <strong><%= money(budget.total_gastos) %> <span class="arrow">&rarr;</span> <%= expense_gap(@muni,@year) %>%</strong> <small>que la media en <br/><em><%= @muni.province_name %></em></small>
            </p>
          </div>
        </div>
        <!-- /totals -->
      <% else %>
        No data.
      <% end %>
      
      
    </div>
    
    <div class="compare_city compare_city_b">
      <h2><%= @muni_b.nombre %></h2>
    
      <% budget = @muni_b.budget_for(@year) %>
      <% if budget %>
        <script type="text/javascript" charset="utf-8">
          var ingresos2 = [
            <%= (budget.income_taxes*100/budget.total_ingresos).round %>,
            <%= (budget.income_administrations*100/budget.total_ingresos).round %>,
            <%= (budget.income_assets*100/budget.total_ingresos).round %>,
            <%= (budget.income_financial*100/budget.total_ingresos).round %>,
            <%= (budget.income_loans*100/budget.total_ingresos).round %>
          ];
          var gastos2 = [
            <%= (budget.expense_people*100/budget.total_gastos).round %>,
            <%= (budget.expense_commons*100/budget.total_gastos).round %>,
            <%= (budget.expense_projects*100/budget.total_gastos).round %>,
            <%= (budget.expense_grants*100/budget.total_gastos).round %>,
            <%= (budget.expense_administrations*100/budget.total_gastos).round %>,
            <%= (budget.expense_financial*100/budget.total_gastos).round %>,
            <%= (budget.expense_loans*100/budget.total_gastos).round %>
          ];
        </script>
        <div class="holder" id="holder_b"></div>
        
        <!-- totals -->
        <div class="totals">
          <h3>Total:</h3>
          <div class="balance">
            <p class="incomings">
              <span class="title">Total ingresos:</span>
              <strong><%= money(budget.total_ingresos) %> <span class="arrow">&rarr;</span>  <%= income_gap(@muni,@year) %>%</strong> <small>que la media en <br/><em><%= @muni.province_name %></em></small>
            </p>
            <p class="expenses">
              <span class="title">Total gastos:</span>
              <strong><%= money(budget.total_gastos) %> <span class="arrow">&rarr;</span> <%= expense_gap(@muni,@year) %>%</strong> <small>que la media en <br/><em><%= @muni.province_name %></em></small>
            </p>
          </div>
        </div>
        <!-- /totals -->

        
      <% else %>
        No data.
      <% end %>
    </div>
  
  </div>
  <!-- /main -->

</div>
<!-- /contents -->

