<% content_for :header_title do %>
  <%= link_to @muni.nombre, city_card_path(@muni) %>
<% end %>

<%= render :partial => 'shared/timeline', :locals => { :muni => @muni } %>

<% last_year = Date.today.year-1 %>

<script type="text/javascript" charset="utf-8">
  var states = [<%= (1985..last_year).to_a.join(',') %>];

  window.onload = function () {
    income_evolution();
    expense_evolution();
    population_evolution();
  };
  function income_evolution() {
    var r = Raphael("holder_evolution_income");
    
    var fin = function () {
      this.flag = r.g.popup(this.bar.x, this.bar.y, format_num(this.bar.value || "0")+" €").insertBefore(this);
    };
    var fout = function () {
      this.flag.animate({opacity: 0}, 300, function () {this.remove();});
    };

    var values = [
    <% (1985..last_year).each do |year| -%>
      <% budget = @muni.budget_for(year) -%>
      <% if budget -%>
      <%= budget.total_ingresos -%><%= year == last_year ? "" : "," -%>
      <% else -%>0,<% end -%>
    <% end -%>
    ];

    r.g.barchart(10, 10, 800, 200, [values]).attr({fill: "#031e1f", "stroke-width": 0, opacity: 0.65}).hover(fin, fout).label([states]);
  };
  function expense_evolution() {
    var r = Raphael("holder_evolution_expense");
    
    var fin = function () {
      this.flag = r.g.popup(this.bar.x, this.bar.y, format_num(this.bar.value || "0")+" €").insertBefore(this);
    };
    var fout = function () {
      this.flag.animate({opacity: 0}, 300, function () {this.remove();});
    };

    var values = [
    <% (1985..last_year).each do |year| -%>
      <% budget = @muni.budget_for(year) -%>
      <% if budget -%>
      <%= budget.total_gastos -%><%= year == last_year ? "" : "," -%>
      <% else -%>0,<% end -%>
    <% end -%>
    ];

    r.g.barchart(10, 10, 800, 200, [values]).attr({fill: "#031e1f", "stroke-width": 0, opacity: 0.65}).hover(fin, fout).label([states]);
  };
  function population_evolution() {
    var r = Raphael("holder_evolution_population");
    
    var fin = function () {
      this.flag = r.g.popup(this.bar.x, this.bar.y, format_num(this.bar.value || "0") + " habs.").insertBefore(this);
    };
    var fout = function () {
      this.flag.animate({opacity: 0}, 300, function () {this.remove();});
    };

    var values = [
    <% (1985..last_year).each do |year| -%>
      <% demographic = @muni.demographics_for(year) -%>
      <% if demographic -%>
      <%= demographic.total -%><%= year == last_year ? "" : "," -%>
      <% else -%>0,<% end -%>
    <% end -%>
    ];

    r.g.barchart(10, 10, 800, 200, [values]).attr({fill: "#031e1f", "stroke-width": 0, opacity: 0.65}).hover(fin, fout).label([states]);
  };
</script>
<div class="holder_evolution">
	<h2>Ingresos</h2>
	<div id="holder_evolution_income"></div>
</div>

<div class="holder_evolution">
	<h2>Gastos</h2>
	<div id="holder_evolution_expense"></div>
</div>

<div class="holder_evolution">
	<h2>Población</h2>
	<div id="holder_evolution_population"></div>
</div>
<%# 
<ul>
  < munis = Municipio.find_all_by_provincia(@muni.provincia) >
  < munis.size > municipios here
  < for muni in munis >
    <li>< link_to muni.nombre, city_card_path(muni) ></li>
  < end >
</ul>
%>
