<!-- header -->
<div class="header">
  <div class="title">
    <h1><span>Los presupuestos de </span><%= @muni.nombre %></h1>
    <p>Las cosas claras y el chocolate espeso</p>
  </div>

  <div class="budget">
    <label for="municipality_go">Ver presus de...</label>
    <input id="city_search" autofocus type='text' placeholder='Tu municipio...'>
    <button class="btn">Ver</button>
  </div>
</div>
<!-- /header -->

<!-- timeline -->
<div class="timeline">
  <p class="years_nav years_prev" id="mycarousel-prev"><a href="#">&larr; años anteriores</a></p>
  <p class="years_nav years_next" id="mycarousel-next"><a href="#">años siguientes &rarr;</a></p>
  <ul id="budget_timeline" class="timeline_years">
    <% (1985..2009).each do |year| %> 
      <li <%= (year == @year) ? "class='actual_year'": '' %>><%= link_to year, city_card_by_year_path(@muni, year) %></li>
    <% end %>
  </ul>
</div>
<!-- /timeline -->

<p class="show_evolution"><%= link_to "&larr; Evolución &rarr;", city_evolution_path(@muni), :class=>"btn" %></p>

<!-- contents -->
<div class="contents">
  <!-- sidebar -->
  <div class="sidebar">

    <div class="data">
      <p class="year">Año <%= @year %> <abbr title="Después de Cristo">DC</abbr></p>
      <hr/>

      <% demos = @muni.demographics_for(@year) %>

      <% if demos %>
      <p class="citizen">
        <span>Habitantes:</span>
        <strong><%= people(demos.total) %> <small><abbr title="Habitantes">habs.</abbr></small></strong>
      </p>
      <hr/>
      <p class="citizen">
        <span>Hombres</span>
        <strong><%= people(demos.hombres) %> ♂</strong>
      </p>
      <hr/>
      <p class="citizen">
        <span>Mujeres</span>
        <strong><%= people(demos.mujeres) %> ♀</strong>
      </p>
      <% else %>
        <p class="citizen"><span>No tenemos información sobre la población.</span></p>
      <% end %>
      </p>

      <!--
      <hr/>
      <p class="surface">
        <span>Superficie:</span>
        <strong>6.666.666 <small><abbr title="Metros cuadrados">m<sup>2</sup></abbr></small></strong>
      </p>
      -->
    </div>

    <p class="comparison">
      <label for="city_compare_search">Comparar los presus de <strong><%= @muni.nombre %></strong> con los de:</label>
      <input type='text' id="city_compare_search" placeholder="Tu municipio..." rel="<%= @muni.slug %>">
      <button class="btn">Comparar</button>
    </p>
  </div>
  <!-- /sidebar -->


  <!-- main -->
  <div class="main">
    <% budget = @muni.budget_for(@year) %>
    <% if budget %>
      <script type="text/javascript" charset="utf-8">
        var ingresos = [
          <%= (budget.income_taxes*100/budget.total_ingresos).round %>,
          <%= (budget.income_administrations*100/budget.total_ingresos).round %>,
          <%= (budget.income_assets*100/budget.total_ingresos).round %>,
          <%= (budget.income_financial*100/budget.total_ingresos).round %>,
          <%= (budget.income_loans*100/budget.total_ingresos).round %>
        ];
        var gastos = [
          <%= (budget.expense_people*100/budget.total_gastos).round %>,
          <%= (budget.expense_commons*100/budget.total_gastos).round %>,
          <%= (budget.expense_projects*100/budget.total_gastos).round %>,
          <%= (budget.expense_grants*100/budget.total_gastos).round %>,
          <%= (budget.expense_administrations*100/budget.total_gastos).round %>,
          <%= (budget.expense_financial*100/budget.total_gastos).round %>,
          <%= (budget.expense_loans*100/budget.total_gastos).round %>
        ];
      </script>

      <h2 class="incomings_title">Ingresos</h2>
      <h2 class="expenses_title">Gastos</h2>
      <div id="holder"></div>

      <!-- totals -->
      <div class="totals">
        <h2>Total:</h2>
        <div class="balance">
          <p class="incomings">
            <span class="title">Total ingresos:</span>
            <strong><%= money(budget.total_ingresos) %> <span class="arrow">&rarr;</span>  <%= income_gap(@muni,@year) %>%</strong> <small>que la media en <br/><em><%= @muni.province_name %></em></small>
          </p>
          <p class="expenses">
            <span class="title">Total gastos:</span>
            <strong><%= money(budget.total_gastos) %> <span class="arrow">&rarr;</span> <%= expense_gap(@muni,@year) %>%</strong> <small>que la media en <br/><em><%= @muni.province_name %></em></small>
          </p>
        </div>
      </div>
      <!-- /totals -->

      <!-- in_out -->
      <div class="in_out">

        <p class="citizen_in"><span>Cada habitante aporta:</span>
          <% if demos %>
            <strong><%= money(budget.income_taxes/demos.total) %></strong> 
          <% else %>
            <strong>SIN DATOS</strong>
          <% end %>
          
          <em>(de su bolsillo)</em>
        </p>

        <p class="townhall_in"><span>El Ayuntamiento recibe:</span>
          <strong><%= money(budget.income_administrations) %></strong> 
          <em>(de las Administraciones)</em>
        </p>

        <p class="townhall_out"><span>El Ayuntamiento aporta:</span>
          <strong><%= money(budget.expense_grants+budget.expense_administrations) %></strong> 
          <em>(en Subvenciones y Proyectos)</em>
        </p>
      </div>
      <!-- /in_out -->

      <!-- staff_vs_projects -->
      <div class="staff_vs_projects">
        <p class="staff"><span>Gasto en personal:</span><strong><%= money(budget.expense_people) %></strong></p>
        <p class="versus"><abbr title="Versus">vs.</abbr></p>
        <p class="projects"><span>Gasto en proyectos:</span><strong><%= money(budget.expense_projects) %></strong></p>
      </div>
      <!-- /staff_vs_projects -->

      <!-- normal_expenses -->
      <div class="normal_expenses">
        <p><span>Gasto corriente / Día:</span><strong><%= money(budget.expense_commons/365) %></strong></p>
      </div>
      <!-- /normal_expenses -->

    <% else %>
      <p>No tenemos información disponible.</p>
    <% end %>
  </div>
  <!-- /main -->

</div>
<!-- /contents -->







<!--
<h2><%= @muni.province_name %></h2>
<hr/>
<p class="show_evolution"><%= link_to "&larr; Evolución &rarr;", city_evolution_path(@muni), :class=>"btn" %></p>
<hr/>
Comparar con <input id="city_search" autofocus type='text' placeholder='Search inside'>
<hr/>
<% (1985..2009).each do |year| %>
  <%= link_to year, city_card_by_year_path(@muni, year) %>
<% end %>
<hr/>
<%= @muni.codigo_ine %>
<%= @muni.nombre %>

<hr/>
<% budget = @muni.budget_for(@year) %>
<% if budget %>
  <script type="text/javascript" charset="utf-8">
    var ingresos = [
      <%= (budget.income_taxes*100/budget.total_ingresos).round %>,
      <%= (budget.income_administrations*100/budget.total_ingresos).round %>,
      <%= (budget.income_assets*100/budget.total_ingresos).round %>,
      <%= (budget.income_financial*100/budget.total_ingresos).round %>,
      <%= (budget.income_loans*100/budget.total_ingresos).round %>
    ];
    var gastos = [
      <%= (budget.expense_people*100/budget.total_gastos).round %>,
      <%= (budget.expense_commons*100/budget.total_gastos).round %>,
      <%= (budget.expense_projects*100/budget.total_gastos).round %>,
      <%= (budget.expense_grants*100/budget.total_gastos).round %>,
      <%= (budget.expense_administrations*100/budget.total_gastos).round %>,
      <%= (budget.expense_financial*100/budget.total_gastos).round %>,
      <%= (budget.expense_loans*100/budget.total_gastos).round %>
    ];
  </script>
  <div id="holder"></div>

  <p>Presu: I <%= money(budget.total_ingresos) %> / G <%= money(budget.total_gastos) %></p>
  <ul>
    Ingresos:<br/>
  <li>Impuestos y tasas = <%= money(budget.income_taxes) %></li>
  <li>Otras administraciones = <%= money(budget.income_administrations) %></li>
  <li>Patrimonio = <%= money(budget.income_assets) %></li>
  <li>Activos financieros = <%= money(budget.income_financial) %></li>
  <li>Préstamos = <%= money(budget.income_loans) %></li>
  </ul>
  <ul>
    Gastos:<br/>
    <ul>
      <li>Personal = <%= money(budget.expense_people) %></li>
      <li>Gastos cotidianos = <%= money(budget.expense_commons) %> </li>
      <li>Proyectos e inversiones = <%= money(budget.expense_projects) %></li>
      <li>Subvenciones = <%= money(budget.expense_grants) %></li>
      <li>Otras administraciones y entidades = <%= money(budget.expense_administrations) %> </li>
      <li>Activos financieros =<%= money(budget.expense_financial) %></li>
      <li>Préstamos y gastos financieros = <%= money(budget.expense_loans) %></li>
    </ul>
  </ul>
<% else %>
  No data.
<% end %>


<hr/>


<div style="margin-bottom:120px;">
  <div style="float:left;border:1px solid white;padding:10px">
    <h3><%= @year %></h3>
    <% demos = @muni.demographics_for(@year) %>
    <% if demos %>
      <%= demos.total %>
      <p>Machotes <%= demos.hombres %> ♂</p>
      <p>Machotas <%= demos.mujeres %> ♀</p>
    <% else %>
      <p>No data.</p>
    <% end %>
  </div>
</div>

<hr/>

<ul>
  <% munis = Municipio.find_all_by_provincia(@muni.provincia) %>
  <%= munis.size %> municipios here
  <% for muni in munis %>
    <li><%= link_to muni.nombre, city_card_path(muni) %></li>
  <% end %>
</ul>
-->